@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
body {
    font: 16px/2 'Jost', sans-serif;
    letter-spacing: 0.05em;
}

.btn {
    display: inline-block;
    padding: 13px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    position: relative;
    border: 1px solid #333;
    font: 12px/1.2 'Inconsolata', monospace;
    letter-spacing: 0.4em;
    text-align: center;
    text-indent: 2px;
    text-transform: uppercase;
    transition: color 0.1s linear 0.05s;
}

.btn:hover {
    background-color: white;
    color: #333;
}

.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
}

.slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.slideshow .slide.is-active {
    display: block;
}

.slideshow .slide.is-loaded {
    opacity: 1;
}

#front-slide .caption {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    color: white;
    background-color: transparent;
}

#front-slide .title {
    color: white;
}

#front-slide .text,
#slide-1 .text {
    color: white;
}

.slideshow .showcase {
    height: 100%;
}

#slide-1 .showcase {
    background-color: #333;
}

#slide-2 .showcase {
    background-color: crimson;
}

#slide-3 .showcase {
    background-color: darkkhaki;
}

#slide-4 .showcase {
    background-color: cadetblue;
}

.slideshow .slide .caption {
    padding: 0 16px;
    background-color: white;
}

.slideshow .slide .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: 1;
    background-size: cover;
    image-rendering: optimizeQuality;
}

.slideshow .slide .image-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.slideshow .slide .image {
    width: 100%;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.slideshow .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: #000;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.slideshow .slide .title {
    margin: 0 auto 15px;
    max-width: 1000px;
    font: 300 60px/1.2 'Inconsolata', monospace;
    text-transform: uppercase;
}

.slideshow .slide .text {
    margin: 0 auto;
    max-width: 1000px;
    font-size: 20px;
    line-height: 1.4;
}

.slideshow .pagination {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center;
    justify-content: center;
}

.slideshow .pagination .item {
    display: inline-block;
    padding: 15px 5px;
    position: relative;
    width: 46px;
    height: 32px;
    cursor: pointer;
    text-indent: -999em;
    z-index: 1;
}

.slideshow .pagination .item+.page {
    margin-left: -2px;
}

.slideshow .pagination .item::before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 5px;
    width: 36px;
    height: 2px;
    background: rgba(255, 255, 255, 0.5);
    transition: background 0.2s ease;
}

.slideshow .pagination .item::after {
    width: 0;
    background: #fff;
    z-index: 2;
    transition: width 0.2s ease;
}

.slideshow .pagination .item:hover::before,
.slideshow .pagination .item.is-active::before {
    background-color: #fff;
}

.slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3;
}

.slideshow .arrows .prev {
    left: 30px;
}

.slideshow .arrows .prev .svg {
    fill: #333;
}

.slideshow .arrows .prev:hover .svg {
    left: -10px;
}

.slideshow .arrows .next {
    right: 30px;
}

.slideshow .arrows .next .svg {
    fill: #fff;
}

.slideshow .arrows .next:hover .svg {
    left: 10px;
}

.slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    transition: left 0.2s ease;
}

.contact-link {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 200%;
    color: #333;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
}

ul#contacts {
    list-style: none;
    text-align: center;
}

ul#contacts li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

ul#contacts li a {
    display: inline-block;
    color: #333;
    text-align: center;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 64px;
    transition: all 0.5s;
}

ul#contacts li a:hover {
    color: #000;
    border-color: #000;
}

::-webkit-scrollbar {
    display: none;
}